
@charset "UTF-8";

BODY {
margin: 20px;
}

.outframe{
  border:none;
}


table,td{
border:2px solid lightgray;
padding: 7;
}

a{
  text-decoration:none;
}

table{
  margin:10px;
}

.ym{
  text-align:center;
  font-size:40;
}

.week_5{
  color: green;
}
.week_6{
  color: red;
}

#holiday{
  color: red;
  position:relative;
}

.year_celected{
  text-align:center;
}

.top_year{
  font-size:40;
  padding:13px 16px 10px;
  position:relative;
  top:4px;
}

.prev,.next{
  width: 15px;
	height: 15px;
	background-color: LightSkyBlue;
	border: 1px solid LightSkyBlue;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	color: #fff;
	padding: 4px 19px 8px;
  margin:20px;
  font-size:280%;
}

.prev:hover,.next:hover{
  background-color: DodgerBlue;
  border: 1px solid DodgerBlue;
  position:relative;
  top:2px;
  left:1px;

}

#yearfixed {
    position: fixed;
    top: 100px;
    left: 0px;
    font-size: 100%;
    color: #fff;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
    border-radius: 5px;

    text-decoration: none;
    background: DodgerBlue;
}

#today{
  background-color: #0F0;
  border-radius: 5px;
  bordar:none;
}
#holiday_today{
  background: lightblue;
  color:red;
  border-radius: 5px;
}
#holiday{
  color:red;
  }
